h1{
  background-color:rgb(247,191,190);
  text-align:center;
    margin:5px;

    border-radius: 10%;
}
#new_york,#montenegro,#islande,#sousse{
  background-color:rgb(255,204,203);
  text-align:center;
  margin:5px;
}
.city_container{
   display: flex;
    justify-content:space-arround;
    flex-wrap:wrap;
    flex-direction: row;
    align-content:stretch;

}
.container{
        display: flex;
        flex-direction: column;
        justify-content:center;
      align-content:stretch;
      background-color:rgb(253,185,200);
/*width:30%*/

}
body{
    background-color:rgb(253,185,200);
}
.city_container div{

      border-radius: 5%;
}
.city_container div:nth-child(1){
  flex-grow:1;
}
.city_container div:nth-child(2){
  flex-grow:1;
}
.city_container div:nth-child(3){
  flex-grow:1;
}
.city_container div:nth-child(4){
  flex-grow:1;}

.footer{
    background-color:rgb(253,188,180);
      margin:5px;
        text-align:center;
}
.menu,.label{text-align:center;}
.label{
  font-weight:bold;
}
#choice{
background-color:gb(253,188,180);}
